{% extends 'layout/master.html.twig' %}

{% block title %}Edit Contact
{% endblock %}

{% block content %}
	<center>
		<h3 class="custom_blog_title">
			Edit Contact
		</h3>
	</center>

	{{ include('contact/_form.html.twig', {'button_label': 'Update'}) }}
	<div class="main-content main-content-checkout container">
		<button class="btn-back-to-shipping ">
			<a href="{{ path('app_contact_index') }}">back to list</a>

		</button>
		{#}	<button class="btn-back-to-shipping ">
											{{ include('contact/_delete_form.html.twig') }}
								
										</button> {#}
	</div>
{% endblock %}
